$tipografia_uno: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$tipografia_dos: 'Roboto', sans-serif;
$tipografia_tres:'Times New Roman', Times, serif;
$tipografia_cuatro: Verdana, Geneva, Tahoma, sans-serif;